pandas
numpy
langchain-community
langchain
langchain-openai
langchain-text-splitters
langchain-embeddings
langchain-vectorstores     
sentence-transformers
langchain_experimental
transformers
chromadb
torch
datasets
tiktoken