pandas
numpy
langchain-community
langchain
langchain-openai
langchain-text-splitters
langchain-embeddings
langchain-vectorstores     
sentence-transformers
langchain_experimental
transformers
chromadb
tavily-python
torch
datasets
tiktoken
groq
re
os
sys
json
logging
time
requests
python-dotenv